
.portfolio-card img {
    transition: 0.5s ease;
}

.portfolio-card:hover img {
    border-radius: 5px;
    transform: scale(0.9);
}

.card-footer {
    background: none;
    border: none;
    padding-top: 0;
}

.card-btn-container {
    text-align: right;
}

.card-btn {
    margin-right: 5px;
    padding: 5px;
    height: 40px;
    width: 40px;
    box-shadow: none !important;
}

.card-btn-icon {
    color: #FFFFFF;
    font-size: 23px;
    transition: all 0.3s ease;
}

.card-btn-icon:hover {
    color: #00CF5D;
}

.link-btn:focus {
    box-shadow: none;
}

.card-lang {
    display: flex;
    flex-wrap: wrap;
}

.card-lang span{
    border-radius: 3px;
    background: #364F6B;
    padding: 2px 10px;
    margin-right: 5px;
    margin-top: 5px;
    height: 26px;
    font-size: 14px;
}

.see-more-btn {
    border: 1px solid #00CF5D;
    color: #FFFFFF;
}

.see-more-btn:hover {
    background: #00CF5D;
    color: #FFFFFF;
}
