.navbar {
   background-color: #233142;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    color: #DADADA !important;
}

.nav-link {
   font-weight: bold;
   margin-right: 30px;
   color: #DADADA !important;
   transition: all 0.3s ease-in-out;
}

.nav-link:hover {
   color: #acaaaa !important;
}

.resume {
   border: 1px solid #00CF5D;
   border-radius: 5px;
   padding: 5px;
}


@media screen and (max-width: 991px){
   .navbar-collapse {
      text-align: center;
      margin-bottom: 10%;
   }
}
