.card {
    border: none;
    background: #07617D;
}

.line-dash {
    height: 2px;
    width: 50px;
    background: #FFFFFF
}

.page-title {
    display: flex;
    align-items: center;
}

.brand-bg-primary {
    background: #233142;
}

.brand-bg-secondary {
    background: #364F6B;
}

.brand-text-primary {
    color: #FFFFFF;
}

.brand-text-secondary {
    color: #FE3E57;
}

.brand-text-success {
    color: #00CF5D;
}